.heading {
  display: flex;
  /* width: 10%; */
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  padding: 0px;
  margin: 0px;
  background-color: rgb(69, 252, 243);
  border-bottom: 2px solid rgb(255, 227, 71);
}
link {
  text-decoration: none;
}
.heading li {
  list-style: none;
  color: black;
  font-size: 1.5rem;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}
.heading li:hover {
  background-color: rgb(255, 202, 56);
  border-radius: 1px;
}
